body{
    background-color: rgb(153, 129, 175)
}


main img{
    display: inline;
}
main H1{
    display: inline;
}
main img{
    margin-top: 15px; 
    margin-bottom: 15px;

    background-color:#efecf5;
    border-style: dotted;
    border-width: 2px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
}
main ul{
background-color:hsl(184, 100%, 50%);
}